*, :after, :before {
    box-sizing: border-box;
}
  
body, button, dd, dl, dt, 
fieldset, form, h1, h2, h3, h4, h5, h6, 
input, legend, li, ol, p, 
select, table, td, textarea, th, ul{font-family: NanumSquareWebFont, "Apple SD Gothic Neo", sans-serif; padding: 0; margin: 0;}

em, address {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

li {
  vertical-align: top;
  list-style: none;
}

button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: 300;
  src: url(https://ssl.pstatic.net/happyimg2/font/NanumSquareL.woff2) format("woff2"), url(https://ssl.pstatic.net/happyimg2/font/NanumSquareL.woff) format("woff");
}

@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: normal;
  src: url(https://ssl.pstatic.net/happyimg2/font/NanumSquareR.woff2) format("woff2"), url(https://ssl.pstatic.net/happyimg2/font/NanumSquareR.woff) format("woff");
}

@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: 700;
  src: url(https://ssl.pstatic.net/happyimg2/font/NanumSquareB.woff2) format("woff2"), url(https://ssl.pstatic.net/happyimg2/font/NanumSquareB.woff) format("woff");
}

@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: 900;
  src: url(https://ssl.pstatic.net/happyimg2/font/NanumSquareEB.woff2) format("woff2"), url(https://ssl.pstatic.net/happyimg2/font/NanumSquareEB.woff) format("woff");
}